* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 16px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 3em;
  background-color: #318ce7;
  border-bottom: 2px solid rgb(28, 46, 46, 0.5);
  color: ghostwhite;
}

nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin: 0 1em;
  cursor: pointer;
}

#app {
  height: 90.5vh;

  display: flex;
}
.menu {
  background-color: #318ce7;
  color: ghostwhite;
  flex-basis: 20%;
}
.menu li {
  padding: 0.5em 1em;
  cursor: pointer;
}
.menu li:hover {
  border-bottom: 1px solid ghostwhite;
  transition: ease-in-out 0.3s;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages {
  border: 1px solid rgba(0, 0, 0, 0.671);
  flex-basis: 80%;
  overflow: auto;
}
.messages ul {
  list-style: none;
}
.messages ul li {
  padding: 0.5em;
  border-bottom: 1px solid rgba(47, 125, 204, 0.466);
  display: flex;
  justify-content: space-between;
}
.current-user-message {
  background-color: rgba(22, 125, 228, 0.712);
  color: ghostwhite;
  font-size: 18px;
}
.time {
  color: rgba(0, 0, 0, 0.349);
  /* position: absolute;
  right: 10%;
  top: 10%; */
  font-size: 16px;
}

.chat form {
  display: flex;
  align-items: center;
}
.chat form textarea {
  width: 70%;
  margin: 1em 1em 2em;
}
.chat form button {
  color: ghostwhite;
  background-color: #318ce7;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
}
